/*stylesheets*/

* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

h1 {
	margin-top: 0;
	margin-bottom: 20px;
}


div.section{
	background-color: #d1d1d1;
	padding: 1px 10px;
	margin-bottom: 30px;
}
#top {
	position: absolute;
}
